{% extends "blog/base.html" %}

{% block content %}

<div class="single-page">
    <h1 class="single-page__title">Who is Heval?</h1>
    <div class="single-page__content">
      <p>As a filmmaker, I have 15 years of experience in film and digital marketing. In these years, I developed and managed many commercial strategies for many big brands, film, and other production from the script to the editing stage. I have attended film festivals with my independent short films and got awards. I have taken part in teams of big TV networks and blockbuster films. I have organized workshops, masterclasses, events, and made podcasts for enthusiasts of filmmaking.</p> <br>

      <p>As a developer, I have founded Turkey's largest filmmaker platform for 13 years, and I have managed for both the technical side and content. In these years, I have gained some technical skills such as Wordpress, HTML, CSS, Python, Django; and some soft skills such as communication, presentation, organization, PR, teaching, targeting, managing growth. However, after a while, knowing just what I needed wasn't enough, and I have decided to focus more on my developer side, which shaped up spontaneously. Thus, I have been focused on developing software for a few years and working on my projects.</p><br>

      <p>As an entrepreneur, I established and managed a boutique agency called Parazit Film & Digital Workz in 2009 in the marketing industry. We have worked with many industry leader companies. I am accepted to the entrepreneurship projects of institutions such as Goldman Sachs, Anadolu Foundation, and Endeavor. I have also been in organizations as a volunteer and in projects related to women entrepreneurship such as Bizbizze as a speaker for contributing to the community.</p><br><br>

      <h3 class="post-section__title">Education</h3>
      <p>🎬 Bachelor of Arts (BA), Cinema-TV, Marmara University</p>
      <p>🎛 Associate of Science (AS), Electronic and Communication, Ankara University</p>

      <br><br>

      <h3 class="post-section__title">Certification</h3>
      <p>🖥 Python Programming Career Track (MOOC), Datacamp</p>
      <p>🖥 Python3 Programming Specialization (MOOC), Michigan University</p>
      <p>🧩 Social Entrepreneurship (MOOC), Copenhagen Business School</p>

      <br><br>

      <h3 class="post-section__title">Accomplishments</h3>
      <p>⛓ The Women of Value Developing Istanbul, Anadolu Foundation</p>
      <p>🔗 10.000 Women Entrepreneur, Goldman Sachs & Özyeğin University</p>
      <p>🎨 Create Up : Entrepreneurs of Creative Industries, Endeavor Turkey & The Foundation of Entrepreneurship</p>

      <br><br>


      <h3 class="post-section__title">Skills</h3>
      <p>🖥 Python3. Django. Pandas. Selenium. HTML5. CSS3. SQL. MongoDB. Wordpress.</p>
      <p>🎬 Directing. Producing. Screenwriting. Festival Consulting. Directing of Photography. Editing. Motion Graphics.</p>

      <br><br>

      <h3 class="post-section__title">Experiences</h3>
      <p>🖥🎬 Parazit Film & Digital Workz | Founder. Director. Developer.</p>
      <p>🖥🎬 Kısa İyidir | Founder. Creator. Festival Curator. Developer.</p>
      <p>🎬 Independent Films | Director. Producrer. Screenwriter. Editor.</p>
      <p>🎬 Film Industry | 1AD. 2AD. Casting. Screenwriter. Cameraman. Editor.</p>
      <p>🎬 NTV | Intern @ Camera Departmant</p>
      <p>🎬 Radio Cumhuriyet | Intern @ Radio Producing</p>

      <br>

      <p>- for more detail please check <a href="https://www.linkedin.com/in/hevalhazalkurt/" target="_blank">my LinkedIn!</a></p>

      <div class="social">
        <ul class="social-links__wrapper">
          <li><a href="https://www.linkedin.com/in/hevalhazalkurt/" target="_blank" title="LinkedIn"><i data-feather="linkedin"></i></a></li>
          <li><a href="https://github.com/hevalhazalkurt" target="_blank" title="Github"><i data-feather="github"></i></a></li>
          <li><a href="https://www.instagram.com/hevalhazalkurt/" target="_blank" title="Instagram"><i data-feather="instagram"></i></a></li>
          <li><a href="https://twitter.com/hevalandsteven" target="_blank" title="Twitter"><i data-feather="twitter"></i></a></li>
          <li><a href="https://www.facebook.com/hevalvehazal" target="_blank" title="Facebook"><i data-feather="facebook"></i></a></li>
          <li><a href="https://www.youtube.com/user/kisaiyidir" target="_blank" title="Youtube"><i data-feather="youtube"></i></a></li>
          <li><a href="https://www.codewars.com/users/hevalhazalkurt" target="_blank" title="CodeWars"><i data-feather="code"></i></a></li>
          <li><a href="https://www.hackerrank.com/hevalhazalkurt" target="_blank" title="HackerRank"><i data-feather="code"></i></a></li>
      </ul>
    </div>

    </div>
</div>



{% endblock content %}
