<!DOCTYPE html>
<html>

<head>
  {% if object.title %}
      <title>Heval Hazal Kurt - {{ object.title }}</title>
  {% else %}
      <title>Heval Hazal Kurt - Filmmaker & Developer</title>
  {% endif %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.3/dist/css/uikit.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.3/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.3/dist/js/uikit-icons.min.js"></script>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>


</head>

<body>

  <header class="">
    <nav class="uk-navbar-container uk-flex-wrap " uk-navbar >
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li><a href="{% url "home" %}">Home</a></li>
          <li><a href="{% url "blog-home" %}">Blog</a></li>
          <li><a href="{% url "project-home" %}">Projects</a></li>
        </ul>
      </div>

      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><a href="https://www.linkedin.com/in/hevalhazalkurt/" target="_blank" uk-icon="icon: linkedin"></a></li>
          <li><a href="https://github.com/hevalhazalkurt" target="_blank" uk-icon="icon: github"></a></li>
          <li><a href="https://www.instagram.com/hevalhazalkurt/" target="_blank" uk-icon="icon: instagram"></a></li>
          <li><a href="https://twitter.com/hevalandsteven" target="_blank" uk-icon="icon: twitter"></a></li>
          <li><a href="https://www.facebook.com/hevalvehazal" target="_blank" uk-icon="icon: facebook"></a></li>
          <li><a href="https://www.youtube.com/user/kisaiyidir" target="_blank" uk-icon="icon: youtube"></a></li>
          <li><a href="https://www.codewars.com/users/hevalhazalkurt" target="_blank" uk-icon="icon: code"></a></li>
        </ul>
      </div>

    </nav>
  </header>
<div class="uk-padding">
  <div class="uk-container">
    {% block content %}
    {% endblock %}

    <p class="uk-text-center">© Heval Hazal Kurt {% now "Y" %}</p>
  </div>
</div>
  <script>
  UIkit.filter();
  </script>

</body>

</html>
