{% extends "blog/base.html" %}

{% block content %}


<div class="page-header">
<h1 class="post-section__title">All Blog Posts</h1>

<div class="category-wrapper">
  <p class="category-button"><a href="{% url "blog-home" %}">All</a></p>
  {% for cat in post_categories %}
  <p class="category-button"><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></p>
  {% endfor %}
</div>

</div>

<div class="blog-list">
  {% for post in blog_posts %}

  <div class="blog-list__item">
    <a href="{{ post.get_absolute_url }}">
    <img class="blog-list-item__image" src="{{ post.image.url }}">
    <div class="uk-section-default uk-padding-small">
      <h1 class="blog-list-item__title">{{ post.title }}</h1>
    </a>
      <div class="blog-list-item__meta">
      <p><a href="{{ post.category.get_absolute_url }}" class="uk-link-heading">{{ post.category|upper }}</a></p>
      <p> {{ post.date_posted|date:"F d, Y" }}</p>
    </div>
      <p>{{ post.summary }}</p>
    </div>
  </div>

  {% endfor %}
</div>

<!-- pagination -->

<div class="pagination-wrapper" >
  <ul class="pagination">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
          <li><a href="?page=1">First</a></li>
          <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="uk-active"><a href="?page={{ num }}">{{ num }}</a></li>
          {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
            <li><a href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        {% endif %}

    {% endif %}
  </ul>
</div>

{% endblock content %}
