{% extends "blog/base.html" %}

{% block content %}

    <div class="blog-post__wrapper">
        <img class="blog-post__image" src="{{ object.image.url }}" />
        <h1 class="blog-post__title">{{ object.title }}</h1>
        <p class="blog-post__sum">{{ object.summary|safe }}</p> <br>
        <p class="blog-post__meta">by {{ object.author }} in <a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a> on {{ object.date_posted|date:"F d, Y" }}</p> <br>
        <div class="blog-post__content">{{ object.content|safe }}</div>
    </div>

    <h3 class="related-post-section__title container">Related Posts</h3>


    <div class="related-posts__wrapper">
      {% for rel in related_posts %}
      <a class="related-post-item" href="{{ rel.get_absolute_url }}">

        <div class="related-post-item__bg" style="background-image: url({{ rel.image.url }})">
          <div class="related-post-item__overlay"></div>
          <div class="related-post-item__meta">
            <h1 class="related-post-item__title">{{ rel.title }}</h1>
            <p class="related-post-item__desc">{{ rel.summary }}</p>
          </div>

        </div>
      </a>
      {% endfor %}

    </div>

{% endblock content %}
