{% extends "blog/base.html" %}

{% block content %}

    <div class="uk-card uk-card-default uk-card-body">
        <img src="{{ object.image.url }}" />
        <h1 class="uk-text-bold uk-text-center">{{ object.title }}</h1>
        <p class="uk-text-muted uk-text-center">by {{ object.author }} in <a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a> on {{ object.date_posted|date:"F d, Y" }}</p> <hr>
        <p>{{ object.summary|safe }}</p> <hr>
        <p>{{ object.content|safe }}</p>

    </div>

    <h1 class="uk-text-bold uk-heading-divider uk-text-center uk-text-muted uk-text-uppercase uk-text-large">Related Posts</h1>
    <div class="uk-child-width-1-3@m uk-padding-small" uk-grid>
      {% for rel in related_posts %}
      <div class="uk-section-default">
        <div class="uk-section uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light uk-background-blend-overlay uk-background-secondary" style="background-image: url({{ rel.image.url }})">

          <div class="uk-card-body">
            <h1 class="uk-link-heading uk-card-title uk-text-bold uk-heading-divider uk-text-center"><a href="{{ post.get_absolute_url }}">{{ rel.title }}</a></h1>
            <p>{{ rel.summary }}</p>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>

{% endblock content %}
