{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<section class="about-section">
  <div class="greet"><img class="hand" src="{% static 'img/hello.png' %}">  
     <h1 class="hello-title">hello, I'm Heval</h1></div>
  <div class="tagline">known as fictionhead. blue. filmmaker. developer. entrepreneur.</div>
  <div class="details">Creates apps with Python, stuff and another things</div>
  <div class="social"> 
    <ul class="social-links__wrapper">
    <li><a href="https://www.linkedin.com/in/hevalhazalkurt/" target="_blank"><i data-feather="linkedin"></i></a></li>
    <li><a href="https://github.com/hevalhazalkurt" target="_blank"><i data-feather="github"></i></a></li>
    <li><a href="https://www.instagram.com/hevalhazalkurt/" target="_blank"><i data-feather="instagram"></i></a></li>
    <li><a href="https://twitter.com/hevalandsteven" target="_blank"><i data-feather="twitter"></i></a></li>
    <li><a href="https://www.facebook.com/hevalvehazal" target="_blank"><i data-feather="facebook"></i></a></li>
    <li><a href="https://www.youtube.com/user/kisaiyidir" target="_blank"><i data-feather="youtube"></i></a></li>
    <li><a href="https://www.codewars.com/users/hevalhazalkurt" target="_blank"><i data-feather="code"></i></a></li>
  </ul>
</div>
</section>

<!-- Blog section -->
<section class="post-section">
<h1 class="post-section__title">Latest Blog Posts</h1>

<!-- Blog category section -->
<div class="category-wrapper">
  <p class="category-button"><a href="{% url "blog-home" %}">All</a></p>
  {% for cat in post_categories %}
  <p class="category-button"><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></p>
  {% endfor %}
</div>

<!-- Blog post section -->

<div class="post-container">
  {% for post in latest_posts %}
  <div class="post-item">

    <div class="post-item__background" style="background-image: url({{ post.image.url }})">
      <div class="post-item__overlay"></div>
      <div class="post-meta">
        <h1 class="post-item__title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
        <p class="post-item__desc">{{ post.summary }}</p>
      </div>

    </div>
  </div>

  {% endfor %}
</div>
</section>


<!-- Project section -->
<section class="project-section">
<h1 class="post-section__title">Latest Projects</h1>

<!-- Project category section -->
<div class="category-wrapper">
  <p class="category-button"><a href="{% url "project-home" %}">All</a></p>
  {% for cat in project_categories %}
  <p class="category-button"><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></p>
  {% endfor %}
</div>

<!-- Project section -->
<div class="post-container">
  {% for project in latest_projects %}
  <div class="post-item">
      <div class="post-item__background" style="background-image: url({{ project.image.url }})">
        <div class="post-item__overlay"></div>
 
    <div class="post-meta">
      <h1 class="post-item__title"><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h1>
      <p class="post-meta__see-details">See Project <svg width="50px" height="16px" viewBox="0 0 50 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Arrow</title> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" data-darkreader-inline-fill="" data-darkreader-inline-stroke="" style="--darkreader-inline-fill:none; --darkreader-inline-stroke:none;"><g transform="translate(0.000000, -5.000000)" fill="currentColor" fill-rule="nonzero" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"><g transform="translate(0.000000, 5.000000)"><polygon points="0.3 6.18 47.1 6.18 47.1 8.58 0.3 8.58"></polygon> <polygon points="41.0533689 15.6 39.3 13.9695042 45.9356357 7.8 39.3 1.63049585 41.0533689 0 49.44 7.80002794"></polygon></g></g></g></svg>
      </p>
    </div>
  </div>
  </div>
  {% endfor %}
</div>

</section>
{% endblock content %}
