

{% extends "blog/base.html" %}

{% block content %}

<h1 class="uk-text-bold uk-heading-divider uk-text-center uk-text-muted uk-text-uppercase uk-text-large">Projects in {{ view.kwargs.slug }} ({{ page_obj.paginator.count }})</h1>


<div class="uk-child-width-1-2@m" uk-grid>
  {% for project in category_projects %}
  <div class="uk-section-default">
    <a href="{{ project.get_absolute_url }}"><div class="uk-section uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-border-rounded" style="background-image: url({{ project.image.url }})">
    </div></a>
    <div class="uk-padding-small">
      <h1 class="uk-link-heading uk-h2 uk-text-bold uk-heading-divider uk-text-center"><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h1>
      <div class="uk-grid uk-flex-between uk-text-small uk-text-muted">
      <p><a href="{{ project.category.get_absolute_url }}" class="uk-link-heading">{{ project.category|upper }}</a></p>
      <p>as <b>{{ project.position }}</b></p></div>
      <p>{{ project.summary }}</p>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock content %}
