

{% extends "blog/base.html" %}

{% block content %}

<h1 class="uk-text-bold uk-heading-divider uk-text-center uk-text-muted uk-text-uppercase uk-text-large">Projects in {{ view.kwargs.slug }} ({{ page_obj.paginator.count }})</h1>

<div uk-grid>
  <p class="uk-link-muted uk-text-muted uk-text-uppercase uk-text-small uk-text-bold"><a href="{% url "project-home" %}">All</a></p>
  {% for cat in project_categories %}
  <p class="uk-link-muted uk-text-muted uk-text-uppercase uk-text-small uk-text-bold"><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></p>
  {% endfor %}
</div>

<div class="uk-child-width-1-2@m" uk-grid>
  {% for project in category_projects %}
  <div class="uk-section-default">
    <a href="{{ project.get_absolute_url }}"><div class="uk-section uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-border-rounded" style="background-image: url({{ project.image.url }})">
    </div></a>
    <div class="uk-padding-small">
      <h1 class="uk-link-heading uk-h2 uk-text-bold uk-heading-divider uk-text-center"><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h1>
      <div class="uk-grid uk-flex-between uk-text-small uk-text-muted">
      <p><a href="{{ project.category.get_absolute_url }}" class="uk-link-heading">{{ project.category|upper }}</a></p>
      <p>as <b>{{ project.position }}</b></p></div>
      <p>{{ project.summary }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<!-- pagination -->

<div class="uk-flex-center">
  <ul class="uk-pagination uk-flex-center" uk-margin>
    {% if is_paginated %}
        {% if page_obj.has_previous %}
          <li><a href="?page=1">First</a></li>
          <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="uk-active"><a href="?page={{ num }}">{{ num }}</a></li>
          {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
            <li><a href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        {% endif %}

    {% endif %}
  </ul>
</div>

{% endblock content %}
