{% extends "blog/base.html" %}

{% block content %}

    <div class="uk-card uk-card-default uk-card-body">
        <img src="{{ object.image.url }}" />
        <h1 class="uk-text-bold uk-text-center">{{ object.title }}</h1>
        <p class="uk-text-bold uk-text-center"><a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a></p>
        <p class="uk-text-muted uk-text-center">as {{ object.position }} for {{ object.client }}</p> <hr>
        <p>{{ object.summary|safe }}</p>
        <p>{{ object.content|safe }}</p>
        <a href="{{object.link}}" target="_blank">{{ object.link }}</a>
    </div>

    <h1 class="uk-text-bold uk-heading-divider uk-text-center uk-text-muted uk-text-uppercase uk-text-large">Related Projects</h1>
    <div class="uk-child-width-1-2@m " uk-grid>
      {% for rel in related_projects %}
      <div class="uk-section-default">
        <a href="{{ rel.get_absolute_url }}"><div class="uk-section uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" style="background-image: url({{ rel.image.url }})">
        </div></a>
        <div class="uk-padding-small uk-background-muted">
          <h1 class="uk-link-heading uk-card-title uk-text-bold uk-heading-divider uk-text-center"><a href="{{ rel.get_absolute_url }}">{{ rel.title }}</a></h1>
          <p>{{ rel.summary }}</p>
        </div>
      </div>
      {% endfor %}
    </div>

{% endblock content %}
