
{% extends "blog/base.html" %}

{% block content %}

<div class="page-header">

<h1 class="post-section__title">All Projects</h1>

<div class="category-wrapper">
  <p class="category-button"><a href="{% url "project-home" %}">All</a></p>
  {% for cat in project_categories %}
  <p class="category-button"><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></p>
  {% endfor %}
</div>

</div>

<div class="blog-list">
  {% for project in project_posts %}

  <div class="blog-list__item">
    <a href="{{ project.get_absolute_url }}">
    <img class="blog-list-item__image" src="{{ project.image.url }}">
    <div>
      <h1 class="blog-list-item__title">{{ project.title }}</h1>
    </a>
      <div class="blog-list-item__meta">
      <p><a href="{{ project.category.get_absolute_url }}">{{ project.category|upper }}</a></p>
      <p>|</p> <p> as {{ project.position }}</p>
    </div>
      <p>{{ project.summary }}</p>
    </div>
  </div>

  {% endfor %}
</div>

<!-- pagination -->

<div class="pagination-wrapper" >
  <ul class="pagination">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
          <li><a href="?page=1">First</a></li>
          <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li><a href="?page={{ num }}">{{ num }}</a></li>
          {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
            <li><a href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        {% endif %}

    {% endif %}
  </ul>
</div>

{% endblock content %}
