{% extends "blog/base.html" %}

{% block content %}


    <div class="uk-card uk-card-default uk-card-body uk-width-xxlarge uk-align-center">
        <img src="{{ object.image.url }}" />
        <h1 class="uk-text-bold uk-text-center" >{{ object.title }}</h1>

        <p class="uk-article-meta uk-text-center">in <u><a class="uk-text-bold" href="{{ object.category.get_absolute_url }}">{{ object.category }}</a></u> as <span class="uk-text-bold" >{{ object.position }}</span> for <span class="uk-text-bold" >{{ object.client }} </span></p>

        {% if object.link %}
        <p class="uk-article-meta uk-text-center"><a class="uk-text-primary uk-link-text uk-text-uppercase uk-text-bold" href="{{ object.link }}" target="_blank">See Project</a> </p>
        {% endif %}

        <hr>
        <p class="uk-text-lead uk-text-muted uk-text-justify">{{ object.summary|safe }}</p>
        <hr>
        <p>{{ object.content|safe }}</p>
    </div>

    <h1 class="uk-text-bold uk-heading-divider uk-text-center uk-text-muted uk-text-uppercase uk-text-large">Related Projects</h1>
    <div class="uk-child-width-1-2@m " uk-grid>
      {% for rel in related_projects %}
      <div class="uk-section-default">
        <a href="{{ rel.get_absolute_url }}"><div class="uk-section uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" style="background-image: url({{ rel.image.url }})">
        </div></a>
        <div class="uk-padding-small uk-background-muted">
          <h1 class="uk-link-heading uk-card-title uk-text-bold uk-heading-divider uk-text-center"><a href="{{ rel.get_absolute_url }}">{{ rel.title }}</a></h1>
          <p>{{ rel.summary }}</p>
        </div>
      </div>
      {% endfor %}
    </div>

{% endblock content %}
