
{% extends "blog/base.html" %}

{% block content %}

<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    {% for project in project_posts %}
        <div class="uk-card uk-card-default uk-card-body">
            <h1 class="uk-text-bold uk-heading-divider uk-text-center">{{ project.title }}</h1>
            <p class="uk-text-muted">as {{ project.position }} for {{ project.client }}</p>
            <p>{{ project.summary }}</p>
        </div>
    {% endfor %}
</div>

{% endblock content %}
